@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
*
{
    padding: 0;
    margin: 0;
}
.sidebar
{
    background-color: rgb(148, 146, 146);
    width: 425px;
    font-family: 'Fira Sans', sans-serif;
    height: 100vh;
}
.sidebar nav
{
    padding: 40px;
}
.sidebar nav li
{
    list-style: none;
    font-size: 20px;
    padding: 30px 0;
}
.sidebar nav li a
{
    text-decoration: none;
    color: rgb(51, 49, 49);
}
.main
{
    /*background-color: yellow;*/
    width: 160vw;
}
.container
{
    display: flex;
}
.infoContainer
{
   /*background-color: aqua;*/
    height: 55vh;
    width: 70vw;
    margin: 140px;
    display: flex;
    justify-content: space-around;
}
.devInfo
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Source Code Pro', monospace;
}
.hello
{
    font-size: 60px;
}
.name
{
    font-size: 45px;
    font-weight: 40px;
    font-family: 'Fira Sans', sans-serif;

}
.about
{
    font-size: 33px;
}
.moreabout
{
    font-size:25px;
    font-family: 'Fira Sans', sans-serif;
    margin-top: 10px;
}
.devPic img
{
    height: 55vh;
}
.buttons
{
    margin-top: 15px;
}
.buttons button
{
    padding: 5px;
    border-radius: 50px;
    color: white;
    background-color: rgb(98, 98, 228);
    font-size: 15px;
    font-weight: bold;
    margin:5px ;
    cursor: pointer;
}
.buttons button:hover
{
    color: white;
    background-color: aqua;
}
.contactform h1
{
    color: aqua;
}
